body {
    text-align: center;
    margin-top: 100px;
    background: #111;
    color: white;
    font-family: Arial;
}

.fade {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1 {
    animation-delay: 300ms;
}
img {
    animation-delay: 600ms;
}
p {
    animation-delay: 900ms;
}
h2 {
    animation-delay: 1200ms;
}
h3 {
    animation-delay: 1500ms;
}
h4 {
    animation-delay: 1800ms;
}